div.fieldSize {
    margin-bottom: 20px;
}

div.fieldSize input {
    width: 30px;
}

#field table {
    border-collapse: collapse;
}

#field > table td {
    width: 30px;
    height: 30px;
    border: 2px #808080 solid;
    padding: 0px;
    text-align: center;
}

#field table td.current {
    background-color: #00FF00;
}

#field table.innerTable td {
    width: 15px;
    height: 15px;
    border-style: none;
}

#field table.innerTable td.right {
    border-right: 1px #000 solid;
}

#field table.innerTable td.bottom {
    border-bottom: 1px #000 solid;
}

#field table.innerTable td.left {
    border-left: 1px #000 solid;
}

#field table.innerTable td.top {
    border-top: 1px #000 solid;
}

#field table.innerTable td.top {
    visibility: hidden;
}

#field input[type=number] {
    width: 30px;
}

.disabled {
    display: none;
}
